*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'sans-serif',Arial, Helvetica, sans-serif;
 
  
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color:rgb(86, 80, 80);
}

ul{
  list-style-type: none;
  
}

header{
  box-shadow: 0px 1px 1px 1px gainsboro;
  margin-block-start: 0px;
  padding: .1rem 1rem;
  position: sticky;
  top: 0;
}

.container{
  max-width: 1400px;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:1rem auto;
}

.header__image{
  /* width: 100px;
  height: 80px; */
  
}

.header__image img{
  width: 100px;
  height: 35px;

}

.header__menu{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header__menu-list{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__menu-list-item a:hover{
  color: rgb(54, 50, 50);
}

.header__menu-list-item:last-child{
  background-color: rgb(87, 172, 87);
  padding: .5rem 1rem;
  border-radius: 2rem;
}

.hero__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.hero__image
.hero__container h1{
  font-size: 4rem;
}



