*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{

}

.container{
    background: rgb(215,27,83);
background: linear-gradient(90deg, rgb(226, 81, 124) 47%, rgb(211, 71, 155) 58%);
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.game{
   
    border: 2px solid black;
    position: relative;

}
.game__card{
  display: flex;
  
  text-align: center;
}
.game__player-0 {
    background-color: rgb(255 227 229);
    padding: 8rem;
    h3{
        font-size: 2rem;
    }
}
.game__player-1 {
    padding: 8rem;
    background-color: rgb(231, 182, 216);
    h3{
        font-size: 2rem;
    }
    
}
.game__player-toggle {
    background-color: rgb(255 227 229);
    padding: 8rem;
    h3{
        font-size: 2rem;
    }
}
.game__player-0 > h5{
    margin: 2rem auto;
    font-size: 3rem;
    color:  rgb(215,27,83);
   

}
.game__player-1 > h5{
    margin: 2rem auto;
    font-size: 3rem;
    color:  rgb(215,27,83);

}
.current-score{
    background-color: rgb(226, 81, 124);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    p{
        margin-bottom: 1rem;
    }
   h4{
    font-size: 1.5rem;
   }
}
.action-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
    top: 2rem;
    bottom: 2rem;
    left: 44%;
    right: 44%;
    
}
.roll-hold{
    text-align: center;
    
}
.roll {
    margin-bottom: 2rem;
    font-size: .7rem;
    padding: .5rem 1rem;
    border-radius: 10rem;
    border-style: none;
    
}

.new-game {
    
    font-size: .5rem;
    padding: .6rem 1.5rem;
    border-radius: 10rem;
    font-weight: 700;
    border-style: none;
    color: rgba(81, 73, 73, 0.718);
    cursor: pointer;
    
}
.new-game:hover{
    background-color: rgb(149, 140, 140);
    color: azure;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.pop-up{
    display: none;
}
.pop-up-active{
    display: block;
    position: fixed;
    top: 45vh;
    left: 40vw;
    z-index: 1000;
    background-color: brown;
    padding: 2rem;
    border-radius: 3rem;
    
   
}